    body {
        font: 10px sans-serif;
    }
    
    .axis path,
    .axis line {
        fill: none;
        stroke: #000;
        shape-rendering: crispEdges;
    }
    
    .x.axis path {
        stroke: rgba(0, 0, 0, 0.2);
        stroke-width: 1px;
    }
    
    .y.axis path {
        stroke: rgba(0, 0, 0, 0.2);
        stroke-width: 1px;
    }
    
    .area {
        fill: none;
        stroke: darkblue;
        stroke-width: 1px;
    }
    
    svg {
        width: 100vw;
        height: 100vh;
    }